#table
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 50px;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: white;
}

.panel{
    width:300px;
    background: #0029f9;
    margin-top:15px;
}

.control-label{
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 500;
}

.formControl{
    margin-bottom:10px;
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    color: #44545b;
    border: 3px solid #d4dddf;
    border-radius:3px;
}

.containers {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 300;
}

.containers p
{
    padding-left: 50px!important;
}

.containers input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 25%;
    margin-top: 5px;
}

.containers:hover input ~ .checkmark {
    background-color: #ccc;
}

.containers input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containers input:checked ~ .checkmark:after {
    display: block;
}

.containers .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.content{
    padding-left: 20px;
    padding-top: 58px;
}

.projectTable{
    padding-top: 5px;!important;
}

.category{
    padding-right: 500px;
}

.field{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container
{
    width: 50%!important;
}